In [112]:
from gensim.models.doc2vec import Doc2Vec
import pytds
import pandas as pd

In [113]:
#Defining a struct for Position
class Position:
    def __init__(self):
        self.Pros = [] #List of skills we want from the student
        self.Cons = [] #List of Skills we don't want from the student

In [114]:
#Defining a class for recommended Students
class Recommendations:
    def __init__(self):
        self.Recomendations = [] #List of recommended students for a position

In [115]:
#Defining a struct for Projects
class Project:
    def __init__(self):
        self.Name = ''
        self.Positions = [] #List of all Positions for a project
        self.Recomm_Students = [] #List of recommended studetns

In [116]:
#Defining a struct for Students
class Student:
    def __init__(self):
        self.ID = 0
        self.Resume = ""

In [117]:
#Defining a Function to make a list of students
def get_student_info(df, stu_list):
    for row in range(len(df.ID)):
        stu = Student()
        stu.ID = df.ID[row]
        stu.Resume = df.ProcessedData[row]
        stu_list.append(stu)

In [118]:
#Defining a funciton to get projects and positions from database
def get_projects(df_project, df_positions, projects):
    for proj in df_project.projectName:
        project = Project()
        project.Name = proj
        for j in range(len(df_positions.projectName)):
            position = Position()
            if (df_positions.projectName[j] == proj):
                position.Pros = df_positions.proskills[j]
                position.Cons = df_positions.conskills[j]
                project.Positions.append(position)
        projects.append(project)

In [119]:
connect_string = ''
try:
    con = pytds.connect(server = '10.236.2.124', database = 'TBDraft', user = 'admin1', password='TBuilder')
    cursor = con.cursor()
    print("{c} is working".format(c=connect_string))
except pytds.Error as ex:
    print("{c} is not working".format(c=connect_string))

 is working

In [120]:
df_student_info = pd.read_sql_query("SELECT ALL * FROM StudentInformation", con)
display(df_student_info)
students = []

,ID,StudentName,GPA,Email,StudentResume,ProcessedData,PhoneNumber,StringResume
0,1,Andrew Esfandiari,None,None,b'%PDF-1.7\r\n%\xb5\xb5\xb5\xb5\r\n1 0 obj\r\n...,andrew esfandiari federal way wa email autho...,None,None
1,2,Arturo Cervantes,None,None,b'%PDF-1.4\n%\xf6\xe4\xfc\xdf\n1 0 obj\n<<\n/T...,arturo cervante mission tx email seek employ...,None,None
2,3,Bobby Crenshaw,None,None,b'%PDF-1.4\n%\xf6\xe4\xfc\xdf\n1 0 obj\n<<\n/T...,bobby crenshaw lead ad hoc trial aim windstr...,None,None
3,4,Brandon Karnoski,None,None,b'%PDF-1.4\n%\xf6\xe4\xfc\xdf\n1 0 obj\n<<\n/T...,brandon karnoski league city tx email work e...,None,None
4,5,Damien Jeppson,None,None,b'%PDF-1.4\n%\xf6\xe4\xfc\xdf\n1 0 obj\n<<\n/T...,damien jeppson college station tx email seni...,None,None
5,6,daniyal khaleel,None,None,None,daniyal khaleel lahore va email software eng...,None,None
6,7,Daod Mohammad,None,None,None,daod mohammad rolling hill estate email prof...,None,None
7,8,Frank Cisneros,None,None,None,frank cisneros embed software engineer richa...,None,None
8,9,Gabriel Kollat,None,None,None,gabriel kollat justin tx email authorize wor...,None,None
9,10,Jess Stacy,None,None,None,jess stacy passionate computer engineer prog...,None,None
10,11,Jesus Pintado,None,None,None,jesus pintado garland tx email curious natur...,None,None
11,12,Kai Schmidt,None,None,None,kai schmidt software engineer citrus height ...,None,None
12,13,Kailin Chen,None,None,None,kailin chen st louis mo email willing reloca...,None,None
13,14,Kavita Kaushik,None,None,None,kavita kaushik email education ncees equival...,None,None
14,15,Kimberly King,None,None,None,kimberly king technical writer project engin...,None,None
15,16,Luis Ortega,None,None,None,luis ortega los angeles email passionate ent...,None,None
16,17,Luke Kolb,None,None,None,luke kolb newtown pa email work experience r...,None,None
17,18,Michael McCarthy,None,None,None,michael mccarthy redmond wa email electrical...,None,None
18,19,Timothy Crowley,None,None,None,timothy crowley barre ma email work experien...,None,None
19,20,Vaishnavi V,None,None,None,vaishnavi v machine learn engineer williamsv...,None,None

In [121]:
df_projects = pd.read_sql_query("SELECT ALL * FROM Project", con)
df_positions = pd.read_sql_query("SELECT ALL * FROM Roles", con)
display(df_projects[:2])
display(df_positions)

             projectName                      Descrp ProfessorName
0            Irrigation   Trying to get this to work         John
1  Irrigation Controller                        None   John Lusher

,projectName,roleName,roleDescription,conskills,proskills,Candidate1,Candidate2,Candidate3
0,Solar Skateboard,Role 1,Power Supply Design,,"Power Supply, DC Converter",5,2,17
1,Solar Skateboard,Role 2,Microcontroller,,"Python, C, Embedded Systems",12,10,13
2,Solar Skateboard,Role 3,Microcontroller,Java,"Wireless Controller, RF",9,18,11
3,Music Project,Role 1,App Developer,,"Python, Coding, Java",13,12,10
4,Music Project,Role 2,Microcontroller/Bluetooth,Web Development,"Microcontroller, Wireless, Bluetooth",10,18,9
5,Music Project,Role 3,Audio Transmission,Power Supply Design,"ADC, Audio Transmission",1,5,2
6,Music Project,Role 4,Power Supply Design,,"Power Supply, Converter, Transformer",18,2,16

In [122]:
get_student_info(df_student_info, students)

In [123]:
projects = []
get_projects(df_projects, df_positions, projects)
# for i in range(len(projects)):
#         for j in range(len(projects[i].Positions)):
#                 print("Project Name: ", projects[i].Name, "\nSkills: ", projects[i].Positions[j].Pros, "\nNon-Skills: ", projects[i].Positions[j].Cons, "\n\n")

In [124]:
model = Doc2Vec.load('d2v_model')

In [125]:
df_keywords = pd.read_sql_query("SELECT keyword FROM TrainingResumes", con)
df_keywords.drop_duplicates()

                          keyword
0             Biomedical_Engineer
2            Electronics_Engineer
12         Power_Systems_Engineer
15              Software_Engineer
22               Embedded_Systems
30  Electronic_Project_Management
47               Machine_Learning
84             RF_Analog_Engineer
95               Renewable_Energy

In [126]:
#Trying out the most_similar function
pd.options.mode.chained_assignment = None  # default='warn'
cursor = con.cursor()
for iter in range(len(df_positions.proskills)):
    #Retreiving the skills required for the role and converting them into a vector the model can use
    pos_tokens = (df_positions.proskills[iter].lower()).split(', ')
    pos_vec = model.infer_vector(pos_tokens)
    #Retreiving the skills that we would prefer the candidate not to have
    neg_tokens = df_positions.conskills[iter].lower().split(', ')
    neg_vec = model.infer_vector(neg_tokens)

    top_candidates = []
    if (neg_tokens): #if this is populated run this
        sims = model.dv.most_similar(positive=[pos_vec],negative=[neg_vec], topn=15)
        for item in sims:
            ID, Score = item
            top_candidates.append(ID)
    else: #Else there are no skills we don't want from the candidate
        sims = model.dv.most_similar(positive=[pos_vec], topn=15)
        for item in sims:
            ID, Score = item
            top_candidates.append(ID)
    #Removing the documents we trained the model on from the results
    for keyword in df_keywords.keyword:
        if keyword in top_candidates:
            top_candidates.remove(keyword)

    #Putting the results into the database
    update_com = "UPDATE Roles SET Candidate1 = " + str(top_candidates[0]) + ", Candidate2 = " + str(top_candidates[1]) + ", Candidate3 = " + str(top_candidates[2]) + "WHERE projectName = '" + df_positions.projectName[iter] + "'and roleName = '" + df_positions.roleName[iter] + "'"
    cursor.execute(update_com)
    df_positions.Candidate1[iter] = top_candidates[0]    
    df_positions.Candidate2[iter] = top_candidates[1]
    df_positions.Candidate3[iter] = top_candidates[2]
con.commit()

print(df_positions)

        projectName roleName            roleDescription            conskills  \
0  Solar Skateboard   Role 1        Power Supply Design
1  Solar Skateboard   Role 2            Microcontroller
2  Solar Skateboard   Role 3            Microcontroller                 Java
3     Music Project   Role 1              App Developer
4     Music Project   Role 2  Microcontroller/Bluetooth      Web Development
5     Music Project   Role 3         Audio Transmission  Power Supply Design
6     Music Project   Role 4        Power Supply Design

                              proskills  Candidate1  Candidate2  Candidate3
0            Power Supply, DC Converter           2          13          20
1           Python, C, Embedded Systems          13          12          10
2               Wireless Controller, RF          18           9          11
3                  Python, Coding, Java          10          13          12
4  Microcontroller, Wireless, Bluetooth          10           9          18
5               ADC, Audio Transmission           5           1           2
6  Power Supply, Converter, Transformer          16           7          14

In [127]:
df_positions = pd.read_sql_query("SELECT ALL * FROM Roles", con)
df_positions

,projectName,roleName,roleDescription,conskills,proskills,Candidate1,Candidate2,Candidate3
0,Solar Skateboard,Role 1,Power Supply Design,,"Power Supply, DC Converter",2,13,20
1,Solar Skateboard,Role 2,Microcontroller,,"Python, C, Embedded Systems",13,12,10
2,Solar Skateboard,Role 3,Microcontroller,Java,"Wireless Controller, RF",18,9,11
3,Music Project,Role 1,App Developer,,"Python, Coding, Java",10,13,12
4,Music Project,Role 2,Microcontroller/Bluetooth,Web Development,"Microcontroller, Wireless, Bluetooth",10,9,18
5,Music Project,Role 3,Audio Transmission,Power Supply Design,"ADC, Audio Transmission",5,1,2
6,Music Project,Role 4,Power Supply Design,,"Power Supply, Converter, Transformer",16,7,14

In [128]:
#Trying out the unseen_doc function here we can use a detailed role that is provided by the sponsor
#Here however, the list of skills is being used since the
df_score = pd.DataFrame(columns=['ID', 'Score'])
df_score['ID'] = df_student_info['ID']
for iter in range(len(df_positions.proskills)):
    print(df_positions.proskills[iter])
    for jter in range(len(df_student_info.ID)):
        df_score['Score'][jter] = model.similarity_unseen_docs(doc_words1=(df_student_info.ProcessedData[jter].split()), doc_words2=(df_positions.proskills[iter].lower().split()))
    break
df_score = df_score.sort_values(by='Score',ignore_index=True, ascending=False)
display(df_score)

Power Supply, DC Converter

    ID     Score
0   16  0.601776
1   18  0.588317
2    4  0.552006
3   17  0.551912
4    2  0.542588
5   12  0.501661
6    7   0.49625
7   14  0.487732
8    3  0.483576
9   13  0.462364
10  11  0.461398
11  20  0.460559
12  10  0.456081
13  19  0.450908
14   1  0.448653
15   9   0.44185
16  15  0.432498
17   5    0.4061
18   8   0.40292
19   6  0.368919

In [129]:
con.close()