In [7]:
from gensim.models.doc2vec import Doc2Vec
import pytds
import pandas as pd

In [2]:
#Defining a struct for Position
class Position:
    def __init__(self):
        self.Pros = [] #List of skills we want from the student
        self.Cons = [] #List of Skills we don't want from the student

In [3]:
#Defining a class for recommended Students
class Recommendations:
    def __init__(self):
        self.Recomendations = [] #List of recommended students for a position

In [58]:
#Defining a struct for Projects
class Project:
    def __init__(self):
        self.Name = ''
        self.Positions = [] #List of all Positions for a project
        self.Recomm_Students = [] #List of recommended studetns

In [5]:
#Defining a struct for Students
class Student:
    def __init__(self):
        self.ID = 0
        self.Resume = ""

In [52]:
#Defining a Function to make a list of students
def get_student_info(df, stu_list):
    for row in range(len(df.ID)):
        stu = Student()
        stu.ID = df.ID[row]
        stu.Resume = df.ProcessedData[row]
        stu_list.append(stu)

In [87]:
#Defining a funciton to get projects and positions from database
def get_projects(df_project, df_positions, projects):
    for proj in df_project.projectName:
        project = Project()
        project.Name = proj
        for j in range(len(df_positions.projectName)):
            position = Position()
            if (df_positions.projectName[j] == proj):
                position.Pros = df_positions.proskills[j]
                position.Cons = df_positions.conskills[j]
                project.Positions.append(position)
        projects.append(project)

In [66]:
connect_string = ''
try:
    con = pytds.connect(server = '10.228.161.74', database = 'TBDraft', user = 'admin1', password='TBuilder')
    cursor = con.cursor()
    print("{c} is working".format(c=connect_string))
except pytds.Error as ex:
    print("{c} is not working".format(c=connect_string))

 is working

In [57]:
df_student_info = pd.read_sql_query("SELECT ALL * FROM StudentInformation", con)
display(df_student_info[:0])
students = []

Empty DataFrame
Columns: [ID, StudentName, GPA, Email, StudentResume, ProcessedData, PhoneNumber]
Index: []

In [95]:
df_projects = pd.read_sql_query("SELECT ALL * FROM Project", con)
df_positions = pd.read_sql_query("SELECT ALL * FROM Roles", con)
display(df_projects)
display(df_positions)

DatabaseError: Execution failed on sql 'SELECT ALL * FROM Project': logic error: cannot change query state from DEAD to READING

In [97]:
display(df_projects)
display(df_positions)

        projectName Descrp ProfessorName
0     Music Project   None          None
1  Solar Skateboard   None          None

,projectName,roleName,roleDescription,conskills,proskills,Candidate1,Candidate2,Candidate3
0,Solar Skateboard,Role 1,Power Supply Design,,"Power Supply, DC Converter",0,0,0
1,Solar Skateboard,Role 2,Microcontroller,,"Python, C, Embedded Systems",0,0,0
2,Solar Skateboard,Role 3,Microcontroller,Java,"Wireless Controller, RF",0,0,0
3,Music Project,Role 1,App Developer,,"Python, Coding, Java",0,0,0
4,Music Project,Role 2,Microcontroller/Bluetooth,Web Development,"Microcontroller, Wireless, Bluetooth",0,0,0
5,Music Project,Role 3,Audio Transmission,Power Supply Design,"ADC, Audio Transmission",0,0,0
6,Music Project,Role 4,Power Supply Design,,"Power Supply, Converter, Transformer",0,0,0

In [54]:
get_student_info(df_student_info, students)

In [94]:
projects = []
get_projects(df_projects, df_positions, projects)
for i in range(len(projects)):
        for j in range(len(projects[i].Positions)):
                print("Project Name: ", projects[i].Name, "\nSkills: ", projects[i].Positions[j].Pros, "\nNon-Skills: ", projects[i].Positions[j].Cons, "\n\n")

Project Name:  Music Project
Skills:  Python, Coding, Java
Non-Skills:


Project Name:  Music Project
Skills:  Microcontroller, Wireless, Bluetooth
Non-Skills:  Web Development


Project Name:  Music Project
Skills:  ADC, Audio Transmission
Non-Skills:  Power Supply Design


Project Name:  Music Project
Skills:  Power Supply, Converter, Transformer
Non-Skills:


Project Name:  Solar Skateboard
Skills:  Power Supply, DC Converter
Non-Skills:


Project Name:  Solar Skateboard
Skills:  Python, C, Embedded Systems
Non-Skills:


Project Name:  Solar Skateboard
Skills:  Wireless Controller, RF
Non-Skills:  Java

In [65]:
con.close()