In [36]:
import pytds
import re 
import spacy
import pandas as pd
from time import time
connect_string = ""
try:
    #Home IP
    # conn = pytds.connect(server = '2605:ad80:30:5058:84ea:3de3:39a1:f11', database = 'TBDraft', user = 'admin1', password='TBuilder')
    #School IP
    conn = pytds.connect(server = '10.228.161.74', database = 'TBDraft', user = 'admin1', password='TBuilder')
    print("{c} is working".format(c=connect_string))
except pytds.Error as ex:
    print("{c} is not working".format(c=connect_string))

 is working

In [15]:
from tika import parser
import os
df = pd.DataFrame(columns=['CandidateID','Keyword', 'Resume', 'Cleaned_Resume'])
for dirname , _, filenames in os.walk('C:/Users/maxbr/ECEN 403/ECEN-403/Test Resumes'):
    for filename in filenames:
       path = os.path.join(dirname, filename)
       raw = parser.from_file(path)
       df = df.append({'CandidateID' : filename[:-4],'Resume' : " ".join(raw['content'].strip().split('\n')[1:]), 'Cleaned_Resume' : ""}, 
                ignore_index = True)
   
df.shape

def cleanResume(resumeText):
    resumeText = re.sub('http\S+\s*', ' ', resumeText)  # remove URLs
    resumeText = re.sub('RT|cc', ' ', resumeText)  # remove RT and cc
    resumeText = re.sub('#\S+', '', resumeText)  # remove hashtags
    resumeText = re.sub('@\S+', '  ', resumeText)  # remove mentions
    resumeText = re.sub('[%s]' % re.escape("""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""), ' ', resumeText)  # remove punctuations
    resumeText = re.sub(r'[^\x00-\x7f]',r' ', resumeText) 
    resumeText = re.sub('\s+', ' ', resumeText)  # remove extra whitespace
    return resumeText
df['Cleaned_Resume'] = df.Resume.apply(lambda x: cleanResume(x))
nlp = spacy.load('en_core_web_sm', disable=['ner', 'parser']) # disabling Named Entity Recognition for speed

def cleaning(doc):
    # Lemmatizes and removes stopwords
    # doc needs to be a spacy Doc object
    txt = [token.lemma_ for token in doc if not token.is_stop]
    # Word2Vec uses context words to learn the vector representation of a target word,
    # if a sentence is only one or two words long,
    # the benefit for the training is very small
    if len(txt) > 2:
        return ' '.join(txt)

brief_cleaning = (re.sub("[^A-Za-z']+", ' ', str(row)).lower() for row in df['Cleaned_Resume'])

t = time()

txt = [cleaning(doc) for doc in nlp.pipe(brief_cleaning, batch_size=5000)]

print('Time to clean up everything: {} mins'.format(round((time() - t) / 60, 2)))
df['Cleaned_Resume'] = txt
display(df.head())

Time to clean up everything: 0.02 mins

,CandidateID,Keyword,Resume,Cleaned_Resume
0,Andrew-Esfandiari,NaN,"Andrew Esfandiari Federal Way, WA -Email me ...",andrew esfandiari federal way wa email autho...
1,Arturo-Cervantes,NaN,"Arturo Cervantes Mission, TX -Email me on In...",arturo cervante mission tx email seek employ...
2,Bobby-Crenshaw,NaN,Bobby Crenshaw Lead ad-hoc trials aimed - Wi...,bobby crenshaw lead ad hoc trial aim windstr...
3,Brandon-Karnoski,NaN,"Brandon Karnoski League City, TX -Email me o...",brandon karnoski league city tx email work e...
4,Damien-Jeppson,NaN,"Damien Jeppson College Station, TX -Email me...",damien jeppson college station tx email seni...

In [16]:
df_students = pd.read_sql_query("SELECT ALL * FROM StudentInformation", conn)
display(df_students)

Empty DataFrame
Columns: [ID, StudentName, GPA, Email, StudentResume, ProcessedData, PhoneNumber]
Index: []

In [17]:
cursor = conn.cursor()
cursor.execute('''TRUNCATE TABLE StudentInformation''')
conn.commit()

In [31]:
df_students = pd.read_sql_query("SELECT ALL * FROM StudentInformation", conn)
display(df_students)

,ID,StudentName,GPA,Email,StudentResume,ProcessedData,PhoneNumber
0,1,Andrew Esfandiari,None,None,None,andrew esfandiari federal way wa email autho...,None
1,2,Arturo Cervantes,None,None,None,arturo cervante mission tx email seek employ...,None
2,3,Bobby Crenshaw,None,None,None,bobby crenshaw lead ad hoc trial aim windstr...,None
3,4,Brandon Karnoski,None,None,None,brandon karnoski league city tx email work e...,None
4,5,Damien Jeppson,None,None,None,damien jeppson college station tx email seni...,None
5,6,daniyal khaleel,None,None,None,daniyal khaleel lahore va email software eng...,None
6,7,Daod Mohammad,None,None,None,daod mohammad rolling hill estate email prof...,None
7,8,Frank Cisneros,None,None,None,frank cisneros embed software engineer richa...,None
8,9,Gabriel Kollat,None,None,None,gabriel kollat justin tx email authorize wor...,None
9,10,Jess Stacy,None,None,None,jess stacy passionate computer engineer prog...,None
10,11,Jesus Pintado,None,None,None,jesus pintado garland tx email curious natur...,None
11,12,Kai Schmidt,None,None,None,kai schmidt software engineer citrus height ...,None
12,13,Kailin Chen,None,None,None,kailin chen st louis mo email willing reloca...,None
13,14,Kavita Kaushik,None,None,None,kavita kaushik email education ncees equival...,None
14,15,Kimberly King,None,None,None,kimberly king technical writer project engin...,None
15,16,Luis Ortega,None,None,None,luis ortega los angeles email passionate ent...,None
16,17,Luke Kolb,None,None,None,luke kolb newtown pa email work experience r...,None
17,18,Michael McCarthy,None,None,None,michael mccarthy redmond wa email electrical...,None
18,19,Timothy Crowley,None,None,None,timothy crowley barre ma email work experien...,None
19,20,Vaishnavi V,None,None,None,vaishnavi v machine learn engineer williamsv...,None

In [30]:
#cursor.execute("INSERT INTO HumanResources.DepartmentTest (DepartmentID,Name,GroupName) values(?,?,?)", row.DepartmentID, row.Name, row.GroupName)
insert_q = "INSERT INTO StudentInformation (StudentName, ProcessedData) "
for i in range(len(df['Cleaned_Resume'])):
    name = df.CandidateID[i]
    name = name.replace("-", " ")
    print(name)
    resume = df.Resume[i]
    cleaned_resume = df.Cleaned_Resume[i]
    values = "Values('"+ name+ "','" + cleaned_resume+"')"
    commd = insert_q + values
    
    cursor.execute(commd)
    
conn.commit()

Andrew Esfandiari
Arturo Cervantes
Bobby Crenshaw
Brandon Karnoski
Damien Jeppson
daniyal khaleel
Daod Mohammad
Frank Cisneros
Gabriel Kollat
Jess Stacy
Jesus Pintado
Kai Schmidt
Kailin Chen
Kavita Kaushik
Kimberly King
Luis Ortega
Luke Kolb
Michael McCarthy
Timothy Crowley
Vaishnavi V

In [32]:
df_training = pd.read_sql_query("SELECT ALL * FROM TrainingResumes", conn)
conn.close()
df_training

                  keyword                                           dataText
0    Electronics_Engineer    andre salazar fort worth tx email talent ele...
1    Electronics_Engineer    arturo cervante mission tx email seek employ...
2    Electronics_Engineer    juan avila charleston sc email experience el...
3    Electronics_Engineer    travis ray engineer product designer develop...
4        Embedded_Systems    daniel koh forney tx email software developm...
..                    ...                                                ...
101     Software_Engineer    kai schmidt software engineer citrus height ...
102     Software_Engineer    nathan nguyen irvine email work experience s...
103     Software_Engineer    peter pagano bohemia ny email authorize work...
104     Software_Engineer    steven nichol c c software engineer grand ra...
105     Software_Engineer    xueqiang pan highland ut email skilled innov...

[106 rows x 2 columns]

In [35]:
import pytds
connect_string = ""
try:
    conn = pytds.connect(server = '10.228.161.74', database = 'TBDraft', user = 'sqlserver', password='TBuilder')
    print("{c} is working".format(c=connect_string))
except pytds.Error as ex:
    print("{c} is not working".format(c=connect_string))

 is not working

In [46]:
df_roles = pd.read_sql_query("SELECT ALL * FROM Roles", conn)
df_projects = pd.read_sql_query("SELECT ALL * FROM Project", conn)

display(df_projects)
display(df_roles)

        projectName Descrp ProfessorName
0     Music Project   None          None
1  Solar Skateboard   None          None

,projectName,roleName,roleDescription,conskills,proskills,Candidate1,Candidate2,Candidate3
0,Solar Skateboard,Role 1,Power Supply Design,,"Power Supply, DC Converter",0,0,0
1,Solar Skateboard,Role 2,Microcontroller,,"Python, C, Embedded Systems",0,0,0
2,Solar Skateboard,Role 3,Microcontroller,Java,"Wireless Controller, RF",0,0,0
3,Music Project,Role 1,App Developer,,"Python, Coding, Java",0,0,0
4,Music Project,Role 2,Microcontroller/Bluetooth,Web Development,"Microcontroller, Wireless, Bluetooth",0,0,0
5,Music Project,Role 3,Audio Transmission,Power Supply Design,"ADC, Audio Transmission",0,0,0
6,Music Project,Role 4,Power Supply Design,,"Power Supply, Converter, Transformer",0,0,0

In [45]:
cursor = conn.cursor()
insert_q = "INSERT INTO Project (projectName)"
values = "Values('Music Project')"
commd = insert_q + values   
cursor.execute(commd)    
conn.commit()

In [14]:
# cursor.execute('''TRUNCATE TABLE Roles''')
# conn.commit()

In [47]:
conn.close()